<header class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow-sm">

  {{#if user.is_superuser}}
  <div class="container"><a class=" col-md-3 col-lg-2  bg-light text-end text-decoration-none text-dark fw-bold "
      href="/dashboard">
      Sistema de
      Administración</a></div>

  {{else}}

  {{>inicio/menu}}



  {{!-- <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}

  {{/if}}

  {{#if user}}


  <!-- Example single danger button -->
  <div class="btn-group">

    {{#if user.is_superuser}}
    <button class=" m-2 bg-light p-1 shadow " data-bs-toggle="dropdown" aria-expanded="false">
      Bienvenido : {{user.user_name}}
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/dashboard">Panel de control</a></li>
      <li><a class="dropdown-item" href="/adminUsuarios">Usuarios</a></li>


      <li>
        <hr class="dropdown-divider">
      </li>
      <li> <a class="nav-link px-3" href="/logout">Salir</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav"></div>
  </div>

  {{else}}
  {{#if user.is_artist}}
  {{else}}
  <button class=" m-2 bg-dark btn btn-dark p-2 shadow " data-bs-toggle="dropdown" aria-expanded="false">
    Bienvenido : {{user.user_name}}
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/dashboard">Mi perfil</a></li>

    <li>
      <hr class="dropdown-divider">
    </li>
    <li> <a class="nav-link px-3" href="/logout">Salir</a>
    </li>
  </ul>
  {{/if}}

  </div>
  {{/if}}
  <div class="navbar-nav"></div>

  </div>

  {{else}}

  {{!-- <div class="navbar-nav">

    <div class="nav-item text-nowrap">

      <a class="nav-link px-3" href="/signup">
        <span data-feather="user-plus"></span>
        Registrate
      </a>
    </div>

  </div>
  <div class="navbar-nav">

    <div class="nav-item text-nowrap">

      <a class="nav-link px-3" href="/signin">
        <span data-feather="user"></span>
        Ingresar
      </a>
    </div>

  </div> --}}
  {{/if}}

  {{#if user.is_artist}}
  <nav class="navbar navbar-light">
    <div class="container-fluid">
      <a class="h4 text-dark text-decoration-none" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" data-bs-backdrop="false" data-bs-scroll="true" tabindex="-1"
        id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">

          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          <h5 class="offcanvas-title " id="offcanvasNavbarLabel">Menú</h5>

        </div>
        <hr>
        <h6 class="p-2 text-end">Bienvenido <strong>{{user.user_name}} </strong> </h6>
        <div class="offcanvas-body">
          <!---->
          <div>
            {{!-- <h5 class=" text-start">Administración</h5> --}}

            <hr>


            <div class="text-end mb-4 ">
              <a href="/dashboard" class="fw-bold h6 text-dark text-decoration-none">
                Perfil <i class="fas fa-user"></i>

              </a>
            </div>
            <div class="text-end mb-4 ">
              <a href="/categorias " class="fw-bold h6 text-dark text-decoration-none">
                categorias
                <i class="fas fa-building-columns"></i>
              </a>
            </div>
            <div class="text-end mb-4 ">
              <a href="/admin_cursos " class="fw-bold h6 text-dark text-decoration-none">
                Cursos
                <i class="fas fa-book"></i>
              </a>
            </div>

            <div class=" d-flex justify-content-end mt-5"> <a class="text-black-50 fs-6 fw-bolder text-decoration-none"
                href="/logout">
                Cerrar
                sesión</a></div>



            <!---->

          </div>
        </div>
      </div>


  </nav>
  {{/if}}




</header>


<header class="header">


  <div class="container">


  </div>

</header>