{{#if curso.id_c}}
{{#if curso.estado_curso}}
{{#if curso.foto_c}}

<section class="categoria-curso">

    <div class="bg-principal-cursos   ">
        <div class="container ">
            <div class="row  ">
                <div class="col-md-4 mt-5  ">
                    <h4 id="cursoCategoria" class="card-title mt-5 p-2 text-start text-white fw-bold"></h4>
                    <h5 id="descripcionCategoria" class="mt-4 p-2 text-white "></h5>
                </div>
                <div class="col-md-4"> <img id="categoriaFoto" class="foto-categoria2" src="" alt="" srcset=""> </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    {{!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#00849D" fill-opacity="1" d="M0,192L1440,96L1440,0L0,0Z"></path>
    </svg> --}}
    <div id="cursos" class="row margen-negativo ">
        {{#each data}}
        {{#if foto_c}}
        {{#if estado_curso}}
        <div class="d-flex justify-content-center">
            <div class="col-md-7 div-curso bg-curso  mt-5 mb-5 ">

                <div class="row">
                    <div class="col-md-6">
                        <img src="{{foto_c}}" class="img-fluid foto-cursos" alt="">
                        <img id="fotoCategoria" style="display: none;" src="{{foto}}" alt="" srcset="">
                    </div>
                    <div class="col-md-6">
                        <h3 class=" text-start p-1 mt-3">{{nombre_c}}</h3>
                        <h5 id="categoria" class=" text-start text-muted p-1 mb-4">{{nombre}}</h5>
                        <p style="display: none;" id="descripcion-categoria">{{descripcion}}</p>
                        <p class="text-start p-1">{{descripcion_c}}</p>

                    </div>

                </div>



                <div class="d-flex justify-content-end">
                    <a class="btn btn-warning text-white fw-bolder" href="/detalle-curso/{{id_c}}">Ver más
                    </a>
                </div>


            </div>

        </div>
        {{else}}
        {{!-- <h3 class="alert alert-warning text-center m-5 mb-5">Todavia no hay cursos disponibles</h3> --}}
        {{/if}}


        {{else}}
        {{!-- <h3 class="alert alert-warning text-center m-5 mb-5">Todavia no hay cursos disponibles</h3> --}}
        {{/if}}
        {{/each}}
    </div>
    <img class="llama" src="/images/llama-cafe.png" alt="">

</section>

{{else}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#00849D" fill-opacity="1" d="M0,192L1440,96L1440,0L0,0Z"></path>
</svg>
<h3 class="alert alert-warning text-center m-5 mb-5">Todavia no hay cursos disponibles</h3>
{{/if}}
{{else}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#00849D" fill-opacity="1" d="M0,192L1440,96L1440,0L0,0Z"></path>
</svg>
<h3 class="alert alert-warning text-center m-5 mb-5">Todavia no hay cursos disponibles</h3>
{{/if}}
{{else}}
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#00849D" fill-opacity="1" d="M0,192L1440,96L1440,0L0,0Z"></path>
</svg>
<h3 class="alert alert-warning text-center m-5 mb-5">Todavia no hay cursos disponibles</h3>

{{/if}}


<script>
    const fotoParaCategoria = document.getElementById('fotoCategoria').getAttribute("src")
    // console.log(fotoParaCategoria)
    if (fotoParaCategoria != null) {
        document.getElementById('categoriaFoto').src = fotoParaCategoria
    }


    const categoria = document.getElementById('categoria').innerHTML
    // console.log(categoria)
    if (categoria != null) {
        document.getElementById('cursoCategoria').innerHTML = "Cursos de " + categoria;
    }


    const descripcion = document.getElementById('descripcion-categoria').innerHTML
    // console.log(descripcion)
    if (descripcion != null) {
        document.getElementById('descripcionCategoria').innerHTML = descripcion;

    }
</script>