<section class="categoria-curso">

    <div class="bg-principal-cursos   ">
        <div class="container ">
            <div class="row  ">
                <div class="col-md-4 mt-5  ">
                    <h4 class="card-title mt-5 p-2 text-start text-white fw-bold">{{data.nombre_c}}
                    </h4>
                    <h5 class="mt-4 p-2 text-white ">{{data.descripcion_c}} </h5>
                </div>
                <div class="col-md-4"> <img class="foto-categoria2" src="{{data.foto_c}}" alt="" srcset=""> </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
    <div class="container w-50 mt-5">
        <div class="card-group ">
            <div class="card">

                <div class="card-body  bg-warning">

                    <p class="card-text text-white fw-bolder">Inicio</p>
                </div>
                <div class="card-body shadow">

                    <p class="card-text fw-bold">{{data.inicio}}</p>
                </div>
            </div>
            <div class="card ">

                <div class="card-body bg-warning">

                    <p class="card-text text-white fw-bolder">Duración
                    </p>
                </div>
                <div class="card-body shadow">

                    <p class="card-text fw-bold">{{data.duracion}}
                    </p>
                </div>

            </div>
            <div class="card ">

                <div class="card-body bg-warning">

                    <p class="card-text text-white fw-bolder">Horario</p>
                </div>
                <div class="card-body shadow">

                    <p class="card-text fw-bold">{{data.horario}}</p>
                </div>

            </div>
        </div>

    </div>
    <img class="llama" src="/images/llama-cafe.png" alt="">

</section>