<div class="col-md-4 mx-auto">

    <div class="card shadow p-3 mb-5 mt-5 bg-body rounded">
        <div class=" card-body">
            <h5 class="text-center mb-4 alert alert-secondary">Ingresa los datos quieras actualizar</h5>
            <form method="POST" action="/uploadFoto/{{producto.id}}" enctype="multipart/form-data">
                <label class="danger alert-info mb-1 p-1" for="video"> Sube un video para comenzar

                </label>
                <input class="form-control" type="file" name="file">
                <input class="form-control" type="submit" value="Subir o actualizar video ">
            </form>
            <form action="/editProduct/{{producto.id}}" method="POST">
                <div class="form-outline mb-4">
                    <input type="text" name="nombre_artista" class="form-control" placeholder="Nombre de servicio"
                        value="{{producto.nombre_artista}}" autofocus required>

                </div>
                <div class="form-outline mb-4">
                    <input style="resize: none; " name="descripcion" class="form-control" placeholder="Descripcion"
                        value="{{producto.descripcion}}" required>
                </div>
                <div class="form-outline mb-4">
                    <input type="url" name="url_img" class="form-control" placeholder="URL de tu foto"
                        value="{{producto.url_img}}" required>
                </div>
                <div class="form-outline mb-4">
                    <input type="text" name="genero" class="form-control" placeholder="Genero"
                        value="{{producto.genero}}" required>
                </div>
                <div class="form-outline mb-4">
                    <input type="number" min="0" max="10000" step="any" name="precio" class="form-control"
                        placeholder="Precio" value="{{producto.precio}}" required>
                </div>
                <div class="form-outline mb-4 d-flex justify-content-center">
                    <br>
                    <button class="btn btn-primary btn-block ">
                        Actualizar
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center"> <a class="text-dark text-decoration-none mb-5" href="/miList"> <i
            class="fas fa-undo-alt "></i> Regresar </a>
</div>