<div class="col-md-4 mx-auto">

    <div class="card shadow p-3 mb-5 mt-5 bg-body rounded">
        <div class=" card-body">
            <h5 class="text-center mb-2 alert alert-secondary"> Estás en el perfil del usuario {{user.user_name}}
            </h5>

            <form action="/editUser/{{user.id}}" method="POST">
                <div class="d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

                        {{!-- <button type="button" class="btn btn-sm btn-secondary " onclick="activarInput()"><i
                                class="fas fa-user-edit"></i> Editar</button> &nbsp; --}}


                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                            <i class="fas fa-user-edit"></i> Editar
                        </button>
                        &nbsp;
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog ">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Estas seguro que quieres editar la Información de {{user.user_name}}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-sm btn-secondary " data-bs-dismiss="modal"
                                            onclick="activarInput()">Editar</button>
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                        </div>


                        <button type="submit" class="btn btn-sm btn-secondary active"><i class="fas fa-save"></i>
                            Guardar</button>

                    </div>


                </div>


                <h5 class="card-title mb-3">Información de {{user.user_name}}:</h5>
                <h6 class="card-subtitle mb-2 text-muted mt-2">ID</h6>

                <input name="foto" class="form-control w-100 mb-2" type="text" value="{{user.id}} " disabled>

                <h6 class="card-subtitle mb-2 text-muted mt-2">Foto</h6>

                <input name="foto" id="activate5" class="form-control w-100 mb-2" type="text" value="{{user.foto}} "
                    disabled>

                <h6 class="card-subtitle mb-2 text-muted">Nombres</h6>
                <input name="first_name" id="activate" class="form-control w-100" type="text"
                    value="{{user.first_name}} " disabled>
                <h6 class="card-subtitle mb-2 mt-1 text-muted">Apellidos</h6>
                <input name="last_name" id="activate2" class="form-control w-199" type="text"
                    value="{{user.last_name}} " disabled>
                <h6 class="card-subtitle mb-2 text-muted mt-2">Correo electrónico</h6>
                <input name="email" id="activate3" class="form-control w-100" type="text" value="{{user.email}} "
                    disabled>
                <h6 class="card-subtitle mb-2 text-muted mt-2">Username</h6>
                <input name="user_name" id="activate4" class="form-control w-100" type="text"
                    value="{{user.user_name}} " disabled>

                <!-- Button trigger modal -->
                <div class="d-flex justify-content-center"> <button type="button" class="btn btn-danger mt-4"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                        Eliminar usuario
                    </button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                ¿Estas seguro que quieres eliminar al usuario
                                {{user.user_name}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-bs-dismiss="modal">Cerrar</button>
                                <a class="btn btn-danger" href="/deleteUsuarios/{{user.id}}">
                                    Eliminar <i class="fas fa-trash-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>
<div class="d-flex justify-content-center"> <a class="text-dark text-decoration-none mb-5" href="/adminUsuarios"> <i
            class="fas fa-undo-alt "></i> Regresar </a>
</div>