{{#if is_superuser}}
<div class="container p-4">

  <div class="row">

    <div class="col-md-4 mx-auto signup-container">
      <div class="card text-center">
        <div class="card-header">
          <h6>Ingresa tus datos <br> para poder registrarte</h6>
          <br>
          <h3>Registro</h3>

        </div>
        <div class="card-body">
          {{#if errors}}
          {{#each errors}}
          <p class="alert alert-danger"> {{this.msg}}</p>
          {{/each}}
          {{/if}}
          <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="form-group">
              <input type="text" name="first_name" value="{{data.first_name}}" placeholder="Nombre completo"
                class="form-control" autofocus required />
            </div>
            <div class="form-group">
              <input type="text" name="last_name" value="{{data.last_name}}" placeholder="Apellido completo"
                class="form-control" required />
            </div>
            <div class="form-group">
              <input type="text" name="user_name" value="{{data.user_name}}" placeholder="Username" class="form-control"
                required />
            </div>
            <div class="form-group">
              <input type="email" name="email" value="{{data.email}}" placeholder="Email" class="form-control"
                required />
            </div>
            <div class="form-group">
              <label class="alert alert-warning" role="alert" for="">La contraseña debe tener minimo 8 caracteres, 1
                Mayuscula y 1 caracter especial</label>
              <input type="password" name="password" minlength="8" value="{{data.password}}"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" placeholder="Contraseña"
                class="form-control" required />
            </div>
            {{!-- <div class="d-flex justify-content-start mb-2 p-1">
              <h6> ¿Eres un Artista?</h6>
            </div> --}}
            {{!-- <div class="form-check col-1">

              <div class="form-check">
                <input class="form-check-input" type="radio" name="is_artist" id="is_artist" value="1" required>
                <label class="form-check-label" for="is_artist">
                  Si
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="is_artist" id="is_artist" value="0" required>
                <label class="form-check-label" for="is_artist">
                  No
                </label>
              </div>
            </div> --}}
            <div class="form-group">
              <br />
              <button class="btn btn-success btn block">
                Registrarte
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
{{>404}}
{{/if}}